{% extends 'base.html.twig' %}

{% block title %}EquipeUser index{% endblock %}

{% block body %}
    <h1>EquipeUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe_user in equipe_users %}
            <tr>
                <td>{{ equipe_user.id }}</td>
                <td>{{ equipe_user.dateDebut ? equipe_user.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ equipe_user.dateFin ? equipe_user.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_equipe_user_show', {'id': equipe_user.id}) }}">show</a>
                    <a href="{{ path('app_equipe_user_edit', {'id': equipe_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_equipe_user_new') }}">Create new</a>
{% endblock %}
