<!-- Formulaire de modification du profil -->
<div class="container p-4">
    <h4 class="text-center">Modifier mon profil</h4>
    
    <hr>

    <form id="editProfileForm" method="post" action="{{ path('user_edit_modal') }}">
        <!-- Champs Nom et Prénom -->
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <hr>

        <!-- Champ Email -->
        <div class="mb-3">
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <!-- Champ Mot de Passe -->
        <div class="mb-3">
            {{ form_row(form.plainPassword, {'attr': {'class': 'form-control', 'type': 'password'}}) }}
        </div>

        <hr>

        <!-- Bouton d'enregistrement -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>

    <!-- Message de confirmation -->
    <div id="profileUpdateSuccess" class="alert alert-success text-center mt-3 d-none" role="alert">
        Profil mis à jour avec succès !
    </div>
</div>
